<div class="genreResult">
	<div class="genreHead">
		<h3 class="genreTitle"><%= object.title %></h3>
		<h3 class="genreRank"><%= object.rank %></h3>
	</div>
	<div class="genreBody">
		<table>
			<tr><th colspan="2">Top Movies in<%= object.title </th></tr>
			<tr>
				<td>img</td>
				<td>Title</td>
			</tr>
			<tr>
				<td>img</td>
				<td>Title</td>
			</tr>
			<tr>
				<td>img</td>
				<td>Title</td>
			</tr>
		</table>
	</div>
</div>